.balance{
  background-color: rgb(1, 1, 58);
  display: flex;
  justify-content: flex-start;
  align-items: left;
  width: 50rem;
  max-width: 95%;
  margin: 2rem auto;
}
.divIncome,.total-expense{
  margin: 2rem;
}

.divIncome{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.divIncome input{
  font: inherit;
  margin-top: 1rem;
  border-radius: 7px;
  padding: 0.5rem;
  border: 2px solid rgb(82, 205, 246);
  max-width: 100%;
}
.add-new-Income{
  margin-top: 1rem;
  background-color: rgb(0, 0, 61);
  border: 1px solid rgb(83, 113, 234);
}
.add-new-Income:hover{
  background-color: rgb(0, 0, 57);
  box-shadow: 2px 2px 10px 4px rgb(68, 68, 241);
}
.balance:hover{
  box-shadow: 2px 2px 30px 4px rgb(71, 71, 197);
}